<form
  class="dynamic-form"
  [formGroup]="form">
  <div class="grid">
    <div class="col">
      <label for="varName"><strong>Var name</strong></label><br>
      <p-dropdown id="varName" name="varName" [options]="varList" optionLabel="name" optionValue="code" [formControl]="varName" class="form-control" ></p-dropdown>
    </div>
  </div>
</form>
<button pButton class="p-button-success mr-1" label="save" (click)="submit(form.getRawValue())"></button>
<button pButton type="button" label="Cancel" (click)="cancel()"></button>

