///* common */
//$textColor:#1b1b1b;
//$textSecondaryColor:#888888;
//$fontSize:16px;
//
///* topbar */
$topbarBgColor:#007ad9;
//$topbarBorderColor:#888888;
//$topbarButtonBgColor:#ffffff;
//$topbarButtonBorderColor:#888888;
//$topbarButtonTextColor:#424242;
//$topbarButtonHoverBgColor:#eaeaea;
//$topbarButtonHoverTextColor:#333333;
//
///* sidebar */
$sidebarBgColor:#ffffff;
//$sidebarBorderColor:#888888;
//$sidebarAnimationDuration:.3s;
//
///* mask */
//$layoutMaskBgColor:#424242;
//
///* footer */
$footerBgColor:#f4f4f4;
$footerBorderColor:#888888;
