///* common */
//$textColor:#1b1b1b;
//$textSecondaryColor:#888888;
//$fontSize:16px;
//
///* topbar */
$topbarBgColor:var(--primary-color);
//$topbarBorderColor:#888888;
//$topbarButtonBgColor:#ffffff;
//$topbarButtonBorderColor:#888888;
//$topbarButtonTextColor:#424242;
//$topbarButtonHoverBgColor:#eaeaea;
//$topbarButtonHoverTextColor:#333333;
//
///* sidebar */
$sidebarBgColor:var(--surface-b);
//$sidebarBorderColor:#888888;
//$sidebarAnimationDuration:.3s;
//
///* mask */
//$layoutMaskBgColor:#424242;
$layoutmainBgColor:var(--surface-b);
//
///* footer */
$footerBgColor:var(--surface-b);
$footerBorderColor:#888888;

