
ng-select.ng-invalid.ng-touched.ng-warn .ng-select-container {
  border-color: #ffc107;
  border-left: #ffc107 solid 5px;
}

ng-select.ng-invalid.ng-touched.ng-error .ng-select-container {
  border-color: #dc3545;
  border-left: #dc3545 solid 5px;
}

small.ng-untouched {
  display: none !important;
}

small.ng-invalid.ng-touched.ng-warn {
  color: inherit !important;
}

small.ng-invalid.ng-touched.ng-error {
  color: #dc3545 !important;
}

small.form-text.text-muted.ng-valid {
  display: none !important;
}

small.form-text.text-muted.ng-disabled {
  display: none !important;
}


textarea.ng-invalid.ng-touched {
  border-color: #dc3545;
  border-left: #dc3545 solid 5px;
}

textarea.ng-valid.ng-touched {
  border-color: #34A835;
  border-left: #34A835 solid 5px;
}


ng-select.ng-valid.ng-touched.ng-dirty .ng-select-container {
  border-color: #34A835;
  border-left: #34A835 solid 5px;
}

app-virtual-keyboard.ng-valid.ng-touched.ng-dirty input {
  border-color: #34A835;
  border-left: #34A835 solid 5px;
}


input.ng-valid.ng-touched.ng-dirty {
  border-color: #34A835;
  border-left: #34A835 solid 5px;
}

input.ng-invalid.ng-touched {
  border-color: #dc3545;
  border-left: #dc3545 solid 5px;
}

.ng-select.ng-select-disabled > .ng-select-container {
  background-color: #e9ecef;
}

body app-virtual-keyboard .p-disabled, body app-virtual-keyboard .p-component:disabled {
  background-color: #ced1d4 !important;
  color: black;
}

body .ui-inputtext.ng-dirty.ng-invalid, body p-dropdown.ng-dirty.ng-invalid > .ui-dropdown, body p-autocomplete.ng-dirty.ng-invalid > .ui-autocomplete > .ui-inputtext, body p-calendar.ng-dirty.ng-invalid > .ui-calendar > .ui-inputtext, body p-chips.ng-dirty.ng-invalid > .ui-inputtext, body p-inputmask.ng-dirty.ng-invalid > .ui-inputtext, body p-checkbox.ng-dirty.ng-invalid .ui-chkbox-box, body p-radiobutton.ng-dirty.ng-invalid .ui-radiobutton-box, body p-inputswitch.ng-dirty.ng-invalid .ui-inputswitch, body p-listbox.ng-dirty.ng-invalid .ui-inputtext, body p-multiselect.ng-dirty.ng-invalid > .ui-multiselect, body p-spinner.ng-dirty.ng-invalid > .ui-inputtext, body p-selectbutton.ng-dirty.ng-invalid .ui-button, body p-togglebutton.ng-dirty.ng-invalid .ui-button {
  border-color: #dc3545;
  border-left: #dc3545 solid 5px;
}
