<p-toolbar styleClass="mb-4">
  <ng-template pTemplate="left">
    <button type="button"
            pButton
            icon="pi pi-plus"
            label="Load data"
            (click)="loadData()"
            class="p-button-success mr-2">
    </button>
    <button type="button" *ngLet="(itemsSelected$|async) as itemsSelected" pButton icon="pi pi-plus"
            label="Edit many ({{itemsSelected.length}})" (click)="onEditMany(itemsSelected)"
            [disabled]="!(itemsSelected.length > 0)"
            class="p-button-success"></button>
  </ng-template>
  <ng-template pTemplate="right" *ngLet="(collection$|async) as collection">
    <button type="button"
            *ngLet="(source$|async) as source"
            pButton
            icon="pi pi-plus"
            label="Generate css ({{collection.length}})"
            [disabled]="collection.length < 1"
            (click)="generate(collection, source)"
            class="p-button-success">
    </button>
    <!--    <app-button-new-css-item class="mr-2"></app-button-new-css-item>-->
    <!--    <app-button-delete-css-item class="mr-2"></app-button-delete-css-item>-->
    <!--    <app-button-create-many-test-css-item></app-button-create-many-test-css-item>-->
  </ng-template>
</p-toolbar>
<app-css-item-list></app-css-item-list>
