<p-toolbar styleClass="mb-4">
  <ng-template pTemplate="left">
<!--    <app-search [actions]="actions"></app-search>-->
  </ng-template>
  <ng-template pTemplate="right">
<!--    <app-button-new-css-item class="mr-2"></app-button-new-css-item>-->
<!--    <app-button-delete-css-item class="mr-2"></app-button-delete-css-item>-->
    <app-button-edit-many-test-css-item class="mr-2"></app-button-edit-many-test-css-item>
<!--    <app-button-create-many-test-css-item></app-button-create-many-test-css-item>-->
  </ng-template>
</p-toolbar>
<app-css-item-list></app-css-item-list>
