/* You can add global styles to this file, and also import other style files */
//html {
//  box-sizing: border-box;
//  max-height: 100% !important;
//}
//
//body .ui-widget {
//  font-size: 12px !important;
//}
//
body {
  word-wrap: break-word;
  font-size: 12px;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0 !important;
}

