@import "css/_variables";

body {
  word-wrap: break-word;
  font-size: 12px;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0 !important;
  background-color: $sidebarBgColor;
}

